.main{
    margin: 0px;
    padding: 0px;
}
.head-line{
    margin:0px;
    padding: 0px;
    background-color: #000000;
    height: 100px;

}
.hero-section{
    background-image: url('/images/SUBURBAN.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-area{
    background-color: #da2b26;
}
.footer{
    background-color:#da2b26;
}

